node_modules

# Output
.output
.wrangler
app/.svelte-kit
app/www
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

plants.db

secret/

/backend/infra/k8s/secrets.yaml